<%= form_with model: @product, class: 'p-10 rounded-lg shadow-lg min-w-full',  data: { controller: "sub-category" } do |f| %>
  <%= render 'layouts/form_errors', resource: @product %>
  <div class="flex flex-col items-center">
    <div class="mb-3" style="width: 28rem;">
      <label class="text-white-800 font-semibold block my-3 text-md" for="username">Name of Product</label>
      <%= f.text_field :name, class: 'text-black w-full px-4 py-2 rounded-lg focus:outline-none' %>
    </div>
    <div class="mb-3" style="width: 28rem;">
      <label class="text-white-800 font-semibold block my-3 text-md">Description of the Product</label>
      <%= f.text_area :description, class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
    </div>
    <div class="mb-3" style="width: 28rem;">
      <label class="text-white-800 font-semibold block my-3 text-md">Main Category</label>
      <%= f.select(:main_category_id, MainCategory.all.map{|m| [m&.name&.humanize, m.id]}, {prompt: 'Select Main Category'},
            {class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none', data: { action: 'change->sub-category#updateCategories',
            'turbo-type': 'sub_categories',
            url: subcategory_products_path }}) %>
    </div>
    <%= turbo_frame_tag "sub_categories" do %>
      <% if action_name == 'edit' %>
        <div class="mb-3" style="width: 28rem;">
          <label class="text-white-800 font-semibold block my-3 text-md">Sub Category</label>
          <%= f.select(:sub_category_id, @sub_categories.all.map{|m| [m&.name&.humanize, m.id]}, {prompt: 'Select Sub Category'},
                {class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none', selected: @product.sub_category_id}) %>
        </div>
      <% end %>
    <% end %>
    <% if action_name == 'edit' %>
      <div class="mb-3" style="width: 28rem;">
        <label class="text-white-800 font-semibold block my-3 text-md" for="password">Stock</label>
        <%= f.number_field :quantity, class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
      </div>
    <% end %>
    <div class="mb-3" style="width: 28rem;">
      <label class="text-white-800 font-semibold block my-3 text-md" for="password">Per Piece Price</label>
      <%= f.number_field :price, class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
    </div>
    <%= f.submit class: 'mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans' %>
  </div>
<% end %>
