<%= render 'shared/dashboard_sidebar' %>
<div id="content" class="bg-white/10 col-span-9 rounded-lg p-6">
  <div class="flex justify-center">
    <h1 class="text-white text-xl">Add Product</h1>
  </div>
  <div class="flex justify-center mt-8" data-controller="product-create">
    <%= form_with model: @product, class: 'p-10 rounded-lg shadow-lg min-w-full' do |f| %>
      <div class="flex flex-col items-center">
        <div class="mb-3" style="width: 28rem;">
          <label class="text-white-800 font-semibold block my-3 text-md" for="username">Name of Product</label>
          <%= f.text_field :name, class: 'text-black w-full px-4 py-2 rounded-lg focus:outline-none' %>
        </div>
        <div class="mb-3" style="width: 28rem;">
          <label class="text-white-800 font-semibold block my-3 text-md">Description of the Product</label>
          <%= f.text_area :description, class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
        </div>
        <div class="mb-3" style="width: 28rem;">
          <label class="text-white-800 font-semibold block my-3 text-md" for="password">Per Piece Price</label>
          <%= f.number_field :pice, class: 'text-black w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none' %>
        </div>
        <%= f.submit class: 'mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans' %>
      </div>
    <% end %>
  </div>
</div>
